

p {
    margin: 0;
}
.Neeme,
.Ian,
.Jane,
.Karl,
.Maiju,
.Leelo,
.Erik,
.Anželika,
.Kadri {
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.item1 {
    background-color: #C3E0E5;
    border: solid black 1px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    margin-left: 50px;
}
